<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<title>Sample Login</title>
</head>

<body>
<h2 th:text="#{login.title}"></h2>
	    <form id="login_form" method="post" th:action="@{/login}" th:object="${loginModel}">
		<!-- Spring Securityのエラーメッセージ -->
		<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
		</p>
		
		<!-- ユーザーID -->
		<div>
            <label for="userId">ユーザーID：</label>
            <input type="text" th:field="*{userId}">
        </div>
		<!-- パスワード -->
		<div>
		    <label for="password">パスワード：</label>
		    <input type="password" th:field="*{password}">
		</div>
    <input type="submit" value="ログイン">
	</form>

</body>
</html>