<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<title>Sample Login</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"> 
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>

<body>
<body class="bg-light"> 
	<div class="text-center">
		<h2 class="text-center" th:text="#{login.title}"></h2>
	    <form id="login_form" method="post" th:action="@{/login}" th:object="${loginModel}">
		<!-- Spring Securityのエラーメッセージ -->
		<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-danger">
		</p>
		
		<!-- ユーザーID -->
		<div class="form-group">
            <label for="userId">ユーザーID：</label>
            <input type="text" th:field="*{userId}" class="form-control">
        </div>
		<!-- パスワード -->
		<div class="form-group">
		    <label for="password">パスワード：</label>
		    <input type="password" th:field="*{password}" class="form-control">
		</div>
    <input type="submit" th:value="#{login.button}" class="btn btn-primary">
	</form>
	<label>作成履歴：</label>
	<table align="center">
	<thead>
	<tr>
	<th>日付</th>
	<th>作成内容</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="item : ${historyDtoList}">
	<td th:text="${item.dateStr}"></td>
	<td th:text="${item.historyText}"></td>
	</tr>
	</tbody>
	</table>
</div>
</body>
</html>